<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title></title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="">
    </head>
    <body>

   
        
        <div class="row">
            {% for product in data %}
                <div class="col-md-4">
                    <div class="card mb-4 box-shadow">
                        <img class="card-img-top" src="{{ product.image.url }}" alt="{{ product.Product_Name }}">
                        <div class="card-body">
                            <h4 class="card-title">{{ product.Product_Name  }}</h4>
                            <p class="card-text">{{ product.description }}</p>
                            <div class="d-flex justify-content-between align-items-center">
                                <div class="btn-group">
                                    
                                </div>
                                <small class="text-muted">{{ product.price }}</small>
                            </div>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
        


    </body>
</html>