body {
    background-color: #2196F3;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

form {
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

form input {
    margin: 10px 0;
    padding: 12px 20px;
    border-radius: 5px;
    border: none;
}

form button {
    background-color: #2196F3;
    color: white;
    padding: 12px 20px;
    border-radius: 5px;
    border: none;
    font-size: 20px;
    margin-top: 20px;
    transition: background-color 0.5s ease;
}

form button:hover {
    background-color: #1e88e5;
    cursor: pointer;
}

form input {
    margin: 10px 0;
    padding: 12px 20px;
    border-radius: 5px;
    border: none;
    box-shadow: 2px 2px 5px 0px rgb(75, 72, 72);
}



@media (max-width: 600px) {
    form {
        width: 90%;
    }
}
