<!DOCTYPE html>

<html>
  <head>
    {% load static %}
    <meta name="viewport" content="width=device-width, initial-scale=1">
    
    <link rel="stylesheet" type="text/css" href="{% static 'register/css/success_rest.css' %}">
    
  </head>
    <style>
     
    </style>
    <body>
      <div class="card">
      <div style="border-radius:200px; height:200px; width:200px; background: #F8FAF5; margin:0 auto;">
        <i class="checkmark">✓</i>
      </div>
        <h1>Success</h1> 
        <p>you password changed successfully!</p>
      </div>
      <li class="nav-item">
        <a class="nav-link" href=" {% url 'registration:login_view' %}"><i class="fas fa-user" style="color:black;">Please Login again. </i></a>
      
      </li>
    </body>
</html>