<!DOCTYPE html>

<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>Reset your password</title>
        <meta name="description" content="">
        {% load static %}
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" type="text/css" href="{% static 'register/css/password_reset_confirm.css' %}">
    </head>
    <body>
        <h1>Reset your password</h1>
        {% if validlink %}
        
        <form action="." method="post">
         {{ form.as_p }}
         {% csrf_token %}
         <p><input type="submit" value="Change  password" /></p>
        </form>
        
        {% else %}
<p>The password reset link was invalid, possibly because it has
 already been used. Please request a new password reset.</p>
{% endif %}

        <script src="" async defer></script>
    </body>
</html>